*
{
    font-family: 'Baloo Da 2', sans-serif;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 183, 0);
    text-align: center;
    font-size: 1.7rem;
}

header,
button,
p
{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 183, 0);
    font-size: .9rem;
}

p{
    padding: .5rem;
}
label
{
    font-size: .9rem;
}

#instructions
{
    display: none;
}

.medlarhowtoins
{
    display: none;
}
form

div, p
{
    margin: 0;
    line-height: 1.2rem;
}

#howto
{
    padding: 0rem 2.5rem;
    border: none;
    text-decoration: underline;
}

button:hover
{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 183, 0);
}

h1
{
  margin-top: 1rem;
  margin-bottom: 1rem;
}

{
  display: inline-block;
  margin: 0rem .8rem;
  max-width: 25rem;
}

form label {
    display: inline-block;
    padding: 0rem;
}

form label input, form label select
{
    display: inline-block;
    font-size: 1rem;
    padding: .75rem;
    background-color: #F6F6F6;
    border: 1px solid #bbb;
    margin-top: .2rem;
    border-radius: .2rem;
}

.magicnumber
{
    margin-top: 1rem;
}

.playtime
{
    margin-top: 1rem;
}

.units, #wakelockalert
{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 183, 0);
    padding: 0rem;
}

#wakelockalert
{
    color: red;
}

input
{
    max-width: 10rem;
    max-height: 1.5rem;
}

.submit
{
    display: block;
    color: rgb(0, 0, 0);
    font-size: 1rem;
    margin-top: 1rem;
    background-color: rgb(255, 183, 0);
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    line-height: .6rem;
    padding: .4rem 1rem;
}

/* Countdown */

.grading-date
{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.countdown
{
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-bottom: 0px;
}

.announcement
{
    font-size: 1rem;
}

h3
{
    font-size: .9rem;
}

.date 
{
    margin-top: 0px;
}

 .timer
{
    font-family: 'Digital Numbers', sans-serif;
    font-size: 5rem;
    line-height: 10rem;
    font-kerning: none;
}