@media only screen and (min-width: 1024px) {
    .howtoins
    {
        display: none;
    }

    .medlarhowtoins
    {
        display: block;
    }

    .announcement
    {
    font-size: 2rem;
    }

    h3
    {
    font-size: 2rem;
    }
}